<template>
  <q-page padding>
    <h1>
      {{ $t('menu.download') }}
    </h1>
    <!-- eslint-disable vue/no-bare-strings-in-template -->
    <p>
      Einen klassischen Download gibt es hier nicht. Wir beschreiben hier, was zu
      tun ist, Um ein Bewerbungsformular für seine Stellenanzeige und seine Email
      Adresse zu nutzen. Das Formular, welches sie im Demo sehen können Sie für
      ihre Anzeige und Ihre Email nutzen. Einfach Stellenanzeige mit Emailadresse
      senden und dann den Link bestätigen.
    </p>
    <p>
      <b>Achtung:</b> die folgenden Abschnitte sind gedacht für Leser mit
      technischem Verständnis.
    </p>
    <p>
      Wenn sie das Formulat inhaltlich, in der Funktionalität oder im Design ändern
      wollen geht dies durch einfaches Klonen des Repos auf Giltab.
    </p>
    <h2>Gitlab Account</h2>
    <p>
      Um den Quellcode runterzuladen brauchen Sie keinen Gitlab Account.
    </p>
    <h2>Eingene Subdomain</h2>
    <p>
      Es müssen ein CNAME und ein TXT Record im DNS hinterlegt werden. Die Werte
      findet man bei Gitlab.
    </p>
    <h2>Bewerbungen selber zusammenbauen</h2>
    <p>
      Bei der Verwendung eines Bewerbungsformulares über unseren Service bauen baut
      ein Programm auf unseren Server aus den Daten des Bewerbers eine Email. Wir
      versichern, dass die Server in Deutschland laufen, die Daten nicht für andere
      Zwecke als dem Mailversand genutzt werden.
    </p>
    <p>
      Wenn Sie dennoch lieber die Mails selber zusammenbauen wollen, so ist dies
      möglich. Sie müssen Mail2Form installieren und die Endpunkte in Ihrem Formular
      setzen.
    </p>
    <h2>Bewerbungen persistent</h2>
    <p>
      Requires Mail2Form
    </p>
    <!-- eslint-enable vue/no-bare-strings-in-template -->
  </q-page>
</template>

<script>
export default {
  name: 'Download'
};
</script>
