<template>
  <q-page>
    <div class="row">
      <q-parallax src="building.jpg">
        <h1 class="text-h1 text-white">{{ $t('landingPageTitle') }}</h1>
        <Typewriter title="... " :words="adjs" />
        <q-icon color="white" name="fas fa-chevron-down" />

        <div class="justify-center q-pb-lg flex">
          <q-btn-group push rounded glossy>
            <q-btn
              size="xl"
              target="_blank"
              name="preview"
              color="primary"
              class="q-mt-md"
              @click="layout = true"
            >
              {{ $t('buttons.preview') }}
            </q-btn>
            <q-btn
              size="xl"
              to="#news"
              text-color="black"
              color="orange"
              class="q-mt-md"
              @click="prompt = true"
            >
              {{ $t('buttons.createForm') }}
            </q-btn>
          </q-btn-group>
        </div>
      </q-parallax>
    </div>
    <PageSection img="code.jpg" />
    <Features :data="features" />

    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t('sendLink.title') }}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <p>
            {{ $t('sendLink.description') }}
          </p>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="col-12 col-md-12 q-px-sm">
            <q-input v-model="text" dense autofocus outlined :label="$t('sendLink.label')" @keyup.enter="prompt = false" />
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn v-close-popup flat>{{ $t('buttons.cancel') }}</q-btn>
          <q-btn v-close-popup flat @click="sendJobLink(text)">{{ $t('buttons.sendLink') }}</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="layout">
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section style="min-height: 80vh" class="scroll">
          <iframe style="position: absolute; height: 100%; border: none" class="fit" src="https://form.yawik.org/?hl=1&hf=1" />
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <q-btn v-close-popup flat color="primary">
            {{ $t('buttons.close') }}
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- <Caroussel :slides="slides" /> -->
  </q-page>
</template>

<script>
import Typewriter from '../components/Typewriter';
import PageSection from '../components/PageSection';
import Features from '../components/Features';
//import Caroussel from '../components/Caroussel';
//import SendLink from '../components/SendLink';

export default {
  name: 'LandingPage',
  meta: {
    title: 'kostenlose Bewerbungsformulare für ihre Stellenanzeige',
    titleTemplate: title => `${title} - YAWIK`,
    meta: {
      description: {
        name: 'description',
        content: 'Individuell im eigenen Design. Ersetzen sie die Bewerbungsemail durch ein kostenloses Formular. Einfacher war es noch nie.'
      },
      keywords: {
        name: 'keywords',
        content: 'Bewerbungsformularm YAWIK, Stellenanzeigen'
      },
      equiv: {
        'http-equiv': 'Content-Type',
        content: 'text/html; charset=UTF-8'
      },
    },
  },
  components: {
    Typewriter,
    PageSection,
    Features,
    //Caroussel
  },
  data()
  {
    return {
      adjs: this.$t('typewriter'),
      //slides: this.$t('slides'),
      features: [
        {
          title: this.$t('feature.one.title'),
          icon: 'svguse:secure.svg#icon-1',
          text: this.$t('feature.one.text'),
        },
        {
          title: this.$t('feature.two.title'),
          icon: 'svguse:questions.svg#icon-1',
          text: this.$t('feature.two.text')
        },
        {
          title: this.$t('feature.three.title'),
          icon: 'svguse:uniform.svg#icon-1',
          text: this.$t('feature.three.text')
        },
        {
          title: this.$t('feature.four.title'),
          icon: 'svguse:simplemail.svg#icon-1',
          text: this.$t('feature.four.text')
        }
      ],
      text: '',
      prompt: false,
      layout: false,
    };
  },
  methods:
    {
      sendJobLink(uri)
      {
        this.$q.loading.show({ delay: 100 });
        this.$axios.post(
          'https://form2mail.yawik.org/extract',
          'uri=' + encodeURI(uri)
        ).then(response =>
        {
          this.$q.loading.hide();
          if (response.data && response.data.success)
          {
            this.jobLink = response.data.message;
            this.jobName = response.data.emails;
          }
        }).catch(err =>
        {
          this.$q.loading.hide();
          this.$q.notify({
            color: 'negative',
            position: 'top',
            icon: 'mdi-alert',
            message: err.message || err,
          });
        });
      },
    }
};
</script>

<style scoped>
.q-icon
{
  font-size: 3em;
}
</style>
