<template>
  <q-page>
    <div class="row">
      <q-parallax :height="850" src="building.jpg">
        <p class="text-h4 text-white q-pb-xl">{{ $t('comingSoon') }}</p>
        <Timer deadline="06/05/2021" />
        <div class="row justify-center full-width q-pa-md q-my-lg">
          <div class="col-12 col-md-4 bg-white faded">
            <q-input color="black" dense label="Email" filled>
              <template #after>
                <q-btn
                  color="positive"
                  dense
                  flat
                  icon="fas fa-check"
                  @click="subscribe"
                />
              </template>
            </q-input>
          </div>
        </div>
      </q-parallax>
    </div>
  </q-page>
</template>

<script>
import Timer from '../components/Timer';

export default {
  name: 'Layout2',
  components: {
    Timer
  },
  methods: {
    subscribe()
    {
      //do something;
    }
  }
};
</script>

<style scoped>
.faded
 {
  opacity: 0.75;
}
</style>
