<template>
  <div class="q-pa-md">
    <div class="row justify-center q-gutter-md">
      <div class="col-12 col-lg-6 col-md-6">
        <q-carousel
          v-model="slide"
          transition-prev="slide-right"
          transition-next="slide-left"
          animated
          arrows
          control-color="secondary"
          class="rounded-borders"
        >
          <q-carousel-slide v-for="(d, index) in slides" :key="index" :name="index" :img-src="d.img">
            <div class="absolute-bottom custom-caption">
              <div class="text-h2">{{ d.title }}</div>
              <div class="text-subtitle1">{{ d.subtitle }}</div>
            </div>
          </q-carousel-slide>
        </q-carousel>
      </div>
      <div class="fit">
        <q-card>
          <q-tabs
            v-model="slide"
            dense
            class="bg-grey-3 text-grey-7"
            active-color="primary"
            indicator-color="secondary"
            align="justify"
          >
            <q-tab v-for="(d, index) in slides" :key="index" :name="index" :label="d.title" />
          </q-tabs>

          <div class="col-12 col-lg-6 col-md-6 self-center">
            <div class="q-pa-md">
              <div class="fit full-height">
                <q-tab-panels v-model="slide" animated>
                  <q-tab-panel v-for="(d, index) in slides" :key="index" :name="index">
                    <div class="text-h6">{{ d.title }}</div>
                    {{ d.text }}
                  </q-tab-panel>
                </q-tab-panels>
              </div>
            </div>
          </div>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Caroussel',
  props: {
    slides: {
      type: Array,
      default: null
    }
  },
  data()
  {
    return {
      slide: 0,
    };
  },
};
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>
