<template>
  <div class="row q-ma-md q-pa-xl q-gutter-lg justify-center">
    <div v-for="(d, index) in data" :key="index" class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
      <Feature :data="d" />
    </div>
  </div>
</template>

<script>

import Feature from '../components/Feature';

export default {
  name: 'Features',
  components: {
    Feature
  },
  props: {
    data: {
      type: Array,
      default: null
    }
  }
};
</script>
