<template>
  <q-card class="products text-center col-md-3 fit">
    <q-icon size="lg" color="secondary" :name="data.icon" />
    <p class="text-h4 q-mt-md">
      {{ data.title }}
    </p>
    <p class="text-body1">
      {{ data.text }}
    </p>
  </q-card>
</template>

<script>
export default {
  name: 'Feature',
  props: {
    data: {
      type: Object,
      default: null
    }
  },
};
</script>

<style lang="sass">
.products
  background-color: $light-blue-1
  color: $text-grey-9
  border-radius: 10px
  padding: 1em
</style>
