<template>
  <div class="row q-mx-auto justify-center align-center">
    <div class="col-12 col-lg-6 col-md-6 self-center">
      <q-card flat class="q-pa-xl">
        <q-card-section class="text-h4">
          {{ $t(title) }}
        </q-card-section>
        <q-card-section>
          {{ $t(text) }}
        </q-card-section>
      </q-card>
    </div>
    <div class="col-12 col-lg-6 col-md-6">
      <q-img :src="img" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageSection',
  props: {
    title: {
      type: String,
      default: 'howItWorks.title'
    },
    text: {
      type: String,
      default: 'howItWorks.description'
    },
    img: {
      type: String,
      default: ''
    }
  }
};
</script>
