<template>
  <div class="row justify-center items-center q-pa-md">
    <q-btn label="Prompt" color="primary" @click="prompt = true" />
    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ $t('sendLink.title') }}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <p>
            {{ $t('sendLink.description') }}
          </p>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="col-12 col-md-12 q-px-sm">
            <q-input v-model="text" dense autofocus label="$t('sendLink.label')" @keyup.enter="prompt = false" />
          </div>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn v-close-popup flat>{{ $t('buttons.cancel') }}</q-btn>
          <q-btn v-close-popup flat>{{ $t('buttons.sendLink') }}</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: 'SendLink',
  data()
  {
    return {
      text: '',
      prompt: false
    };
  },
  methods: {
    subscribe()
    {
      // do something
    }
  }
};
</script>
