<template>
  <div>
    <div v-if="currentTime" class="text-center text-h1 text-white">
      <span v-if="days">{{ days }}</span>:<span v-if="hours">{{ hours | formatTime }}:</span><span>{{ minutes | formatTime }}:{{ seconds | formatTime }}</span><br>
    </div>
    <div v-if="!currentTime" class="text-center">
      {{ $t('comingSoon') }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Timer',
  props: {
    deadline: {
      type: String,
      required: true
    },
    speed: {
      type: Number,
      default: 1000
    }
  },
  data()
  {
    return {
      currentTime: Date.parse(this.deadline) - Date.parse(new Date())
    };
  },
  filters: {
    formatTime(value)
    {
      if (value < 10)
      {
        return '0' + value;
      }
      return value;
    }
  },
  computed: {
    seconds()
    {
      return Math.floor((this.currentTime / 1000) % 60);
    },
    minutes()
    {
      return Math.floor((this.currentTime / 1000 / 60) % 60);
    },
    hours()
    {
      return Math.floor((this.currentTime / (1000 * 60 * 60)) % 24);
    },
    days()
    {
      return Math.floor(this.currentTime / (1000 * 60 * 60 * 24));
    }
  },
  mounted()
  {
    setTimeout(this.countdown, 1000);
  },
  methods: {
    countdown()
    {
      this.currentTime = Date.parse(this.deadline) - Date.parse(new Date());
      if (this.currentTime > 0)
      {
        setTimeout(this.countdown, this.speed);
      }
      else
      {
        this.currentTime = null;
      }
    }
  }
};
</script>
