<template>
  <q-layout view="lHh Lpr lff">
    <q-header class="text-primary" style="background-color: #EEF4FB;">
      <q-toolbar>
        <a href="/">
          <q-avatar>
            <img src="icons/yawik-logo.png">
          </q-avatar></a>
        <q-toolbar-title>
          {{ $t('toolbarTitle') }}
        </q-toolbar-title>
        <q-space />
        <q-btn flat to="/de/download">{{ $t('menu.download') }}</q-btn>
        <SwitchLanguage class="q-mx-auto" />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
    <PageFooter />
  </q-layout>
</template>

<script>
import PageFooter from '../components/PageFooter';
import SwitchLanguage from 'src/components/SwitchLanguage';

export default {
  name: 'MainLayout',
  components: {
    PageFooter,
    SwitchLanguage
  },
  created()
  {
    const lang = this.$route.params.lang;
    this.$root.$i18n.locale = lang;
    import(
      /* webpackInclude: /(de|en-gb)\.js$/ */
      'quasar/lang/' + (lang === 'en' ? 'en-gb' : lang)
    ).then(lang =>
    {
      this.$q.lang.set(lang.default);
    });
  },
};
</script>
